@import url("https://fonts.googleapis.com/css?family=Share+Tech+Mono");

body {
  font-family: "Share Tech Mono";
  margin: auto;
  display: flex;
  padding: 20px;
  color: green;
  background-color: black;
  font-size: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

input {
  background-color: black;
  color: green;
  caret-color: white;
  font-family: "Share Tech Mono";
  border: 1px solid green;
  height: 30px;
  font-size: 30px;
  line-height: 30px;
}

input:focus {
  box-shadow: 0 0 5px rgba(81, 203, 238, 1);
  padding: 3px 0px 3px 3px;
  margin: 5px 1px 3px 0px;
  border: 1px solid rgba(81, 203, 238, 1);
}

button {
  background-color: green;
  color: black;
  padding: 10px;
  font-size: 30px;
  font-family: "Share Tech Mono";
}

button:hover {
  cursor: pointer;
}

::selection {
  background: white; /* WebKit/Blink Browsers */
}

div {
  margin-top: 10px;
}

li {
  list-style: none;
}
